{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">Settings</h1>
    </div>
    <div id="flashes" class="row"></div>
    {{template "flashes" .Flashes}}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="mainSettings"><a href="#mainSettings" aria-controls="mainSettings" role="tab"
                data-toggle="tab">Account Settings</a></li>
        <li role="uiSettings"><a href="#uiSettings" aria-controls="uiSettings" role="tab" data-toggle="tab">UI
                Settings</a></li>
        <li role="reportingSettings"><a href="#reportingSettings" aria-controls="reportingSettings" role="tab" id="reporttab"
            data-toggle="tab">Reporting Settings</a></li>
        <li role="qrSettings"><a href="#qrSettings" aria-controls="qrSettings" role="tab" 
            data-toggle="tab">QR Settings</a></li>
	<li role="clientData"><a href="#clientData" aria-controls="clientData" role="tab"
	    data-toggle="tab">Client</a></li>
    </ul>
    <!-- Tab Panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="mainSettings">
            <br />
            {{if .ModifySystem }}
            <div class="row">
                <label class="col-sm-2 control-label form-label">Gophish version</label>
                <div class="col-md-6">
                    <label class="form-label">{{.Version}}</label>
                </div>
            </div>
            <br />
            {{end}}
            <div class="row">
                <label for="api_key" class="col-sm-2 control-label form-label">API Key:</label>
                <div class="col-md-6">
                    <input type="text" id="api_key" onclick="this.select();" value="{{.User.ApiKey}}"
                        class="form-control" readonly />
                </div>
                <form id="apiResetForm">
                    <button class="btn btn-primary"><i class="fa fa-refresh" type="submit"></i> Reset</button>
                    <input type="hidden" name="csrf_token" value="{{.Token}}" />
                </form>
            </div>
            <br />
            <form id="settingsForm">
                <div class="row">
                    <label for="username" class="col-sm-2 control-label form-label">Username:</label>
                    <div class="col-md-6">
                        <input type="text" id="username" name="username" value="{{.User.Username}}"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="current_password" class="col-sm-2 control-label form-label">Old Password:</label>
                    <div class="col-md-6">
                        <input type="password" id="current_password" name="current_password" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="new_password" class="col-sm-2 control-label form-label">New Password:</label>
                    <div class="col-md-6">
                        <input type="password" id="password" name="new_password" autocomplete="new-password"
                            class="form-control" />
                        <div class="hidden" id="password-strength-container">
                            <div class="progress" id="password-strength">
                                <div id="password-strength-bar" class="progress-bar" role="progressbar"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span id="password-strength-description"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="confirm_new_password" class="col-sm-2 control-label form-label">Confirm New
                        Password:</label>
                    <div class="col-md-6">
                        <input type="password" id="confirm_new_password" name="confirm_new_password" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{.Token}}" />
                <br />
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
            </form>
            <br />
        </div>
        <div role="tabpanel" class="tab-pane" id="uiSettings">
            <br />
            <div class="checkbox checkbox-primary">
                <input id="use_map" type="checkbox">
                <label for="use_map">Show campaign results map</label>
            </div>
        </div>
        <!-- Reporting Settings Begin -->
        <div role="tabpanel" class="tab-pane" id="reportingSettings">
            <form id="imapForm" >
            <br />
            <div class="row">
                <div class="col-md-6">
                    Monitor an IMAP account for emails reported by users.
                </div>
             </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                <div class="checkbox checkbox-primary">
                    <input id="use_imap" type="checkbox">
                    <label for="use_imap">Enable Email Account Monitoring</label>
                </div>
                </div>
             </div>
            <br />

            
            <div class="row">
                <label for="imaphost" class="col-sm-2 control-label form-label">IMAP Host:</label>
                <div class="col-md-6">
                    <input type="text" id="imaphost" name="imaphost" placeholder="imap.example.com"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imapport" class="col-sm-2 control-label form-label">IMAP Port:</label>
                <div class="col-md-6">
                    <input type="text" id="imapport" name="imapport" placeholder="993"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imapusername" class="col-sm-2 control-label form-label">IMAP Username:</label>
                <div class="col-md-6">
                    <input type="text" id="imapusername" name="imapusername" placeholder="Username"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imappassword" class="col-sm-2 control-label form-label">IMAP Password:</label>
                <div class="col-md-6">
                    <input type="password" id="imappassword" name="imappassword" placeholder="Password" autocomplete="off"
                        class="form-control" />
                </div>
            </div>
            <br />


            <div class="row">
                <label for="use_tls" class="col-sm-2 control-label form-label">Use TLS:</label>
                <div class="col-md-6">
                    <div class="checkbox checkbox-primary">
                        <input id="use_tls" type="checkbox">
                        <label for="use_tls"></label>
                    </div>
                    
                </div>
            </div>

             <!-- Advanced Settings-->
            <div id="advancedarea" style="display: none;">
                <hr>
                <div class="row">
                <label for="folder" class="col-sm-2 control-label form-label">Folder:</label>
                    <div class="col-md-6">
                        <input type="text" id="folder" name="folder" placeholder="Leave blank for default of INBOX."
                            class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="folder" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="How often to check for new emails. 30 seconds minimum.">Polling frequency:</label>
                        <div class="col-md-6">
                            <input type="number" id="imapfreq" name="imapfreq" placeholder="Leave blank for default of every 60 seconds."
                                class="form-control" />
                        </div>
                    </div>
                    <br />
        
                <div class="row">
                    <label for="restrictdomain" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="Only check emails reported from the supplied domain.">Restrict to domain:</label>
                    <div class="col-md-6">
                        <input type="text" id="restrictdomain" name="restrictdomain" placeholder="e.g. widgets.com. Leave blank for all domains."
                            class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="ignorecerterrors" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="Ignore common certificate errors such as self-signed certs (exposes you to MiTM attacks - use carefully!)">Ignore Certificate Errors:</label>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-primary">
                            <input id="ignorecerterrors" type="checkbox">
                            <label for="ignorecerterrors"></label>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="deletecampaign" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="Delete campaign emails after they've been reported.">Delete campaigns emails:</label>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-primary">
                            <input id="deletecampaign" type="checkbox">
                            <label for="deletecampaign"></label>
                        </div>
                        
                    </div>
                </div>
                <br />
        
                <div class="row" id="lastlogindiv">
                <label for="lastlogin" class="col-sm-2 control-label form-label">Last succesful login:</label>
                <div class="col-md-6">
                    <input type="text" id="lastlogin" name="lastlogin" placeholder="Checking..." disabled
                        class="form-control border-0" />
                    </div>
                </div>
                <br />
                <input type="hidden" id="lastloginraw" name="lastloginraw" value="">

            </div>

            <div class="row">
                <label for="advancedsettings" class="col-sm-2 control-label form-label"></label>
                <div class="col-md-6 text-right">
                    <button class="btn-xs btn-link" id="advanced" type="button">Advanced Settings</button>
                </div>
            </div>

            <button class="btn btn-primary" id ="savesettings" type="button"><i class="fa fa-save"></i> Save</button>
            <button class="btn btn-primary" id="validateimap" type="button"><i class="fa fa-wrench"></i> Test Settings</button>


            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="qrSettings">
            <br>
            <form id="qrSettingsForm">
                <div class="row">
                    <label for="qr_size" class="col-sm-4 control-label form-label">QR Size (px):</label>
                    <div class="col-md-2">
                        <input type="number" id="qr_size" name="qr_size" min="64" step="1" value=""
                            class="form-control" />
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <label for="qr_pixels" class="col-sm-4 control-label form-label">QR Pixel Color:</label>
                    <div class="col-md-1">
                        <input type="color" id="qr_pixels" name="qr_pixels" value="#000000"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="qr_background" class="col-sm-4 control-label form-label">QR Background Color:</label>
                    <div class="col-md-1">
                        <input type="color" id="qr_background" name="qr_background" value="#ffffff"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <button class="btn btn-primary" id="saveqrsettings" type="button"><i class="fa fa-save"></i> Save</button>
                <button id="cancelqr" type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </form>
        </div>
        <!-- Client Settings-->
        <div role="tabpanel" class="tab-pane" id="clientData">
            <br>
            <!-- FORM-->
            <form id="clientForm">
                <!-- SECTION CLIENT -->
                <h6>Client Information</h6>
                <div class="row">
                    <label for="client_name" class="col-sm-2 control-label form-label">Client name:</label>
                    <div class="col-md-6">
                        <input type="text" id="client_name" name="client_name" class="form-control" placeholder="Client" readonly/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary lock-field" data-target="#client_name" type="button">
                            <i class="fa fa-unlock"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <label for="client_email" class="col-sm-2 control-label form-label">Client email:</label>
                    <div class="col-md-6">
                        <input type="email" id="client_email" name="client_email" class="form-control" placeholder="email@client.TLD" required readonly />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary lock-field" data-target="#client_email" type="button">
                            <i class="fa fa-unlock"></i>
                        </button>
                    </div>
                </div>            
                <!-- MONITOR SECTION -->
                <h6>Live Phishing Monitor</h6>
                <p>Allows the client to view the status of phishing campaign.</p>
                <div class="row">
                    <label for="client_monitor_url" class="col-sm-2 control-label form-label">URL:</label>
                    <div class="col-md-6">
                        <input type="text" id="client_monitor_url" name="client_monitor_url" onclick="" class="form-control" readonly/>
                    </div>
                    <button class="btn btn-primary copy-button" data-target="client_monitor_url" type="button">
                        <i class="fa fa-copy"></i>  Copy
                    </button>
                    <a href="" class="btn btn-info" role="button" id="go_to_panel_monitor" target="_blank">
                        <i class="fa fa-link"></i> Go to panel
                    </a>
                </div>
                <div class="row">
                    <label for="client_monitor_password" class="col-sm-2 control-label form-label">Password:</label>
                    <div class="col-md-6">
                        <input type="password" id="client_monitor_password" name="client_monitor_password" class="form-control" placeholder="********************************************************************"/>
                    </div>
                    <button class="btn btn-primary copy-button" data-target="#client_monitor_password" type="button">
                        <i class="fa fa-copy"></i> Copy password
                        <i class="fa fa-key"></i>
                    </button>
                    <button class="btn btn-danger reveal-password" data-target="#client_monitor_password" type="button">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-refresh"></i> Generate & Update
                    </button>
                </div>
                <!-- API SECTION -->
                <h6>Apolo API KEY</h6>
                <div class="row">
                    <label for="client_api_key" class="col-sm-2 control-label form-label">API KEY:</label>
                    <div class="col-md-6">
                        <input type="password" id="client_api_key" name="client_api_key" class="form-control" placeholder="********************************************************************"/>
                    </div>
                    <button class="btn btn-primary copy-button" data-target="#client_api_key" type="button">
                        <i class="fa fa-copy"></i>  Copy API KEY
                        <i class="fa fa-key"></i>
                    </button>
                    <button type="button" class="btn btn-danger reveal-password" data-target="#client_api_key">
                        <i class="fa fa-eye"></i></button>
                </div>
                <button class="btn btn-primary" id="saveclientdata" type="button">
                    <i class="fa fa-save"></i> Save</button>
                <button id="cancelclient" type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </form>
            <!-- end -->
            <br>
            <hr class="my-4 border-2 border-primary">
            <div class="row">
            <h6> Send Access</h6>                            
                <div class="mb-3 d-flex align-items-center" id="send_status">
                    <label class="form-label me-2">Status:</label>
                </div>
                <button type="button" class="btn btn-primary" id="send_monitor_modal" data-toggle="modal" data-backdrop="static"
                    data-user-id="-1" data-target="#modal" disabled> <i class="fa fa-envelope"></i> Send phishing monitor to client
                </button>
            </div>
            <br>
            <!-- CLIENT TABLE-->
            <div class="row">
                <h6>Historical Records</h6>
                <button type="button" class="btn btn-danger" id="reveal_password_from_client_table">
                    <i class="fa fa-eye"></i> Reveal passwords</button>
                <table id="clientTable" class="table">
                    <thead>
                        <tr>
                            <th class="col">Client</th>
                            <th class="col">Monitor URL</th>
                            <th class="col">Monitor Password</th>
                            <th class="col">API KEY</th>
                            <th class="col">Created at</th>
                            <th class="col">Email</th>
                            <th class="col">Send date</th>
                            <th class="col">Change Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Reporting Settings End -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Send Access</h4>
            </div>
            <div class="modal-body">
                <h6></h6>
                <form id="monitorForm">
                    <p style="background-color: #27224F; color:#ebebeb"> &nbsp;Client</p>
                    <!-- Name -->
                    <div class="form-group" style="margin-bottom: 15px; display: flex; align-items: center;">
                        <label class="control-label" style="width: 120px; text-align: right; margin-right: 10px;">Client Name:</label>
                        <div style="flex-grow: 1;">
                            <div class="input-group">
                                <span class="input-group-addon" 
                                    style="background-color: #27224F !important; color: white; border: none; min-width: 40px; text-align: center;">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" class="form-control" id="client_name_modal" placeholder="Enter name"
                                    style="height: 40px; box-shadow: none; border: 1px solid #ccc;" disabled>
                            </div>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group" style="margin-bottom: 15px; display: flex; align-items: center;">
                        <label class="control-label" style="width: 120px; text-align: right; margin-right: 10px;">Client Email:</label>
                        <div style="flex-grow: 1;">
                            <div class="input-group">
                                <span class="input-group-addon" 
                                    style="background-color: #27224F !important; color: white; border: none; min-width: 40px; text-align: center;">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="email" class="form-control" id="client_email_modal" placeholder="Enter email"
                                    style="height: 40px; box-shadow: none; border: 1px solid #ccc;" disabled>
                            </div>
                        </div>
                    </div>

                    <!-- Monitor URL -->
                    <div class="form-group" style="margin-bottom: 15px; display: flex; align-items: center;">
                        <label class="control-label" style="width: 120px; text-align: right; margin-right: 10px;">Monitor URL:</label>
                        <div style="flex-grow: 1;">
                            <div class="input-group">
                                <span class="input-group-addon" 
                                    style="background-color: #27224F !important; color: white; border: none; min-width: 40px; text-align: center;">
                                    <i class="fa fa-link"></i>
                                </span>
                                <input type="url" class="form-control" id="client_monitor_url_modal" placeholder="Enter monitor URL"
                                    style="height: 40px; box-shadow: none; border: 1px solid #ccc;" disabled>
                            </div>
                        </div>
                    </div>

                    <!-- Monitor Password -->
                    <div class="form-group" style="margin-bottom: 15px; display: flex; align-items: center;">
                        <label class="control-label" style="width: 120px; text-align: right; margin-right: 10px;">Monitor Password:</label>
                        <div style="flex-grow: 1;">
                            <div class="input-group">
                                <span class="input-group-addon" 
                                    style="background-color: #27224F !important; color: white; border: none; min-width: 40px; text-align: center;">
                                    <i class="fa fa-key"></i>
                                </span>
                                <input type="password" class="form-control" id="client_monitor_password_modal" placeholder="Enter monitor password"
                                    style="height: 40px; box-shadow: none; border: 1px solid #ccc;" disabled>
                            </div>
                        </div>
                    </div>

                    <!-- API Key -->
                    <div class="form-group" style="margin-bottom: 15px; display: flex; align-items: center;">
                        <label class="control-label" style="width: 120px; text-align: right; margin-right: 10px;">API Key:</label>
                        <div style="flex-grow: 1;">
                            <div class="input-group">
                                <span class="input-group-addon" 
                                    style="background-color: #27224F !important; color: white; border: none; min-width: 40px; text-align: center;">
                                    <i class="fa fa-rocket"></i>
                                </span>
                                <input type="password" class="form-control" id="client_api_key_modal" placeholder="Enter API key"
                                    style="height: 40px; box-shadow: none; border: 1px solid #ccc;" disabled>
                            </div>
                        </div>
                    </div>

                    
                    <p style="background-color: #27224F; color:#ebebeb"> &nbsp;Via Gophish (TEST)</p>
                    <!-- Via Gophish-->
                    <div>
                        <label for="mail-template" class="form-label">Mail Template:</label>
                        <select class="form-select" id="mail-template">
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                        </select>
                    </div>

                    <!-- Specialist Name-->
                    
                    <div class="form-group" style="margin-bottom: 15px; display: flex; align-items: center;">
                        <label class="control-label" style="width: 120px; text-align: right; margin-right: 10px;">Specialist Name:</label>
                        <div style="flex-grow: 1;">
                            <div class="input-group">
                                <span class="input-group-addon" 
                                    style="background-color: #27224F !important; color: white; border: none; min-width: 40px; text-align: center;">
                                    <i class="fa fa-user-secret"></i>
                                </span>
                                <input type="text" class="form-control" id="specialist_name_modal" placeholder="Write your name"
                                    style="height: 40px; box-shadow: none; border: 1px solid #ccc;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" 
                    style="padding: 10px 20px;">Close</button>
                <button type="button" class="btn btn-primary" id="sendphishingmonitor_gophish"
                    style="padding: 10px 20px;"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send Mail to Client [Gophish Test] </button>
                <button type="button" class="btn btn-primary" id="sendphishingmonitor_apolo"
                    style="padding: 10px 20px;" disabled><i class="fa fa-paper-plane" aria-hidden="true"></i> Send Phishing Monitor to Client [Apolo] </button>
            </div>
        </div>
    </div>
</div>

{{end}} {{define "scripts"}}
<script src="/js/dist/app/passwords.min.js"></script>
<script src="/js/dist/app/settings.min.js"></script>
{{end}}